/* custom CSS for quelology.org */

a img {
    border: none;
}

a.author {
    font-weight: bold;
}

img.medium_large {
    padding-top: 2ex;
}

body {
    overflow: auto;
}

.main {
    background-color: white;
    width: 90%;
    min-width: 30em;
    max-width: 85em;
}

div #content {
    padding: 1ex;
}

.shelf-droppable, #footer, #left-column {
    background-color: #99CCFF;
}
#left-column {
    padding: 1ex;
}
#header {
    padding: 0.5em;
    margin: 0px;
    min-height: 2em;
}
#footer {
    padding: 0.3em;
}
.flash {
    font-weight: bold;
    color: red;
}
.node {
    border: 1px dotted black;
    padding: 0.3em;
    max-width: 35em;
    margin: none;
}
#shelf {
    padding: 0.1em;
}

h1 { line-height: 1; }

.showmenot { display: none; }

ul.nav {
    margin: 0.7ex !important;
}

.nav li {
    list-style-type: none;
    padding-left: -3ex;
    margin-left: 0;
    margin-bottom: 1ex;
}

table td:first-child {
    padding-left: 2px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

#placeholder {
    padding: 0.5ex;
}

.pager li {
    display: inline;
}


/* type.css sets a bottom margin or 1.5em, which looks weird in tree view */
ul, ol {
    margin: 0 1.5em;
}

/*
h1 { margin-top: 0.750 }
h2 { margin-top: 0.869 }
h3 { margin-top: 0.970 }
h4 { margin-top: 1.178 }
h5, h6 { margin-top: 1.269 }
*/
